html {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(205, 205, 205);
}

.InputBackground {
    width: 20%;
    height: 85px;
    background-color: rgb(250, 250, 250);
    border: 1px dashed rgb(141, 141, 141);
    font-weight: bold;
    border-radius: 6px;
    padding-bottom: 10px;
    padding-left: 10px;
    position: relative;
    margin: 0 0 10px 0;
    color: rgb(98, 98, 98);
}

.LogInInput {
    width: 90%;
    height: 25px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid rgb(160, 160, 160);
}

.LogInButton {
    text-align: center;
    width: 80px;
    height: 35px;
    font-weight: bold;
    background-color: #00FA9A;
    border: 0px;
    border-radius: 6px;
}

.LogInButton:hover {
    background-color: #00d281;
}

.GuestLogInButton {
    text-align: center;
    width: 190px;
    height: 35px;
    font-weight: 700;
    background-color: #7FFF00;
    border: 0px;
    border-radius: 6px;
}

.GuestLogInButton:hover {
    background-color: #67ce00;
}

.productCard {
    padding: 15px 15px 15px 15px;
    border: 1px solid gray;
    margin: 10px 10px 10px 10px;
    display: flex;
    gap: 15px;
    line-height: 3px;
}

.product_img {
    height: 100px;     /* Сохраняем пропорции */
}

.productWithSale {
    padding: 15px 15px 15px 15px;
    border: 1px solid gray;
    margin: 10px 10px 10px 10px;
    display: flex;
    gap: 15px;
    line-height: 3px;
    background-color: #2E8B57;
}

.NoProduct {
    padding: 15px 15px 15px 15px;
    border: 1px solid gray;
    margin: 10px 10px 10px 10px;
    display: flex;
    gap: 15px;
    line-height: 3px;
    background-color: aqua;
}
