<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>ToyMarket</title>
    </head>
    <body>
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
        {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                    <div class="alert {{ category }}">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        {% if current_user.is_authenticated %}
            <a href="/create">Create User</a> | <a href="/status">DB Status</a> | <a href="/users">Users list</a>
        {% else %}
            <form id="login" method="post">
                <div class="InputBackground">
                    <p class="LogInText">Логин</p>
                    <input id="username" name="username" class="LogInInput" placeholder="Введите логин" required autofocus >
                </div>
                <div class="InputBackground">
                    <p class="LogInText">Пароль</p>
                    <input id="password" name="password" type="password" class="LogInInput" placeholder="Введите пароль" required>
                </div>
            </form>
            <button class="LogInButton" type="submit" form="login" >Войти</button>
            <a href="/products"><button class="GuestLogInButton">Продолжить как гость</button></a>
        {% endif %}
    </body>
</html>