<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='assets/favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <title>ToyMarket</title>
    </head>
    <body>
        <img src="{{ url_for('static', filename='assets/logo.png') }}">
        <form>
            <div class="InputBackground">
                <p class="LogInText">Логин</p>
                <input id="login" name="login" class="LogInInput" placeholder="Введите логин" required autofocus >
            </div>
            <div class="InputBackground">
                <p class="LogInText">Пароль</p>
                <input id="pass" name="pass" type="password" class="LogInInput" placeholder="Введите пароль" required>
            </div>
            <div class="LogInButtons">
                <button class="LogInButton" type="submit">Войти</button>
                <button class="GuestLogInButton">Продолжить как гость</button>
            </div>
        </form>
        <a href="/create">Create User</a> | <a href="/status">DB Status</a> | <a href="/users">Users list</a>
    </body>
</html>